<body id="page-top">
<header class="masthead">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="text-white font-weight-bold">Que buscamos</h1>
                <hr class="divider" />
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 mb-5">Los humanos tomamos decisiones basadas en estándares de razonamiento consciente. Utilizamos nuestro libre albedrío como herramienta de gestión, lo que se traduce en la toma de decisiones diaria.
                    A lo largo de los años se han tomado diferentes decisiones importantes, ¿qué pasaría si usáramos la inteligencia artificial para la toma de decisiones complejas? 
                    </p>
                <p class="text-white-75 mb-5">Desarrollar sistemas que puedan ayudar a las personas a tomar decisiones complejas y difíciles con mayor precisión y eficacia, utilizando técnicas de inteligencia artificial y aprendizaje automático.</p>
            </div>
        </div>
    </div>
</header>

<section class="page-section bg-black" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">Pronto estaremos disponibles</h2>
                <hr class="divider divider-light" />
                <p class="text-white-75 mb-4">Unete a nuestra comunidad para estar enterado de cualquier Update</p>
                <a class="btn btn-light btn-xl" href="">Get Started!</a>
            </div>
        </div>
    </div>
 
</section>

<section class="contact-section bg-black">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fa-regular fa-map" style="color: #ff1414;"></i>
                        <h4 class="text-uppercase m-0">Address</h4>
                        <hr class="my-4 mx-auto" />
                        <div class="small text-black-50">Santiago de Cali</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-envelope text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Email</h4>
                        <hr class="my-4 mx-auto" />
                        <div class="small text-black-50"><a href="#!">proximamente@proximamente.com</a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-mobile-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Phone</h4>
                        <hr class="my-4 mx-auto" />
                        <div class="small text-black-50">+1 (555) 902-8832</div>
                    </div>
                </div>
            </div>
        </div>
     
    </div>
</section>





</body>